.link-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 1px;
}

.link-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.link-underline:hover::after {
  width: 100%;
}
